In [1]:
import os
import sys
import pandas as pd
import csv 
import datetime
import time
import numpy as np

In [2]:
rootdir = 'C:/Users/Yee Shen/Desktop/source/interval/'
file_list = os.listdir(rootdir)


file_name = []
for i in range(0,len(file_list)):
    path = os.path.join(rootdir,file_list[i])
    if os.path.isfile(path):
        
        file_name.append(path)
        file_name = sorted(file_name)

In [3]:
template = []
todel_name = file_name[10:19]
for delname in todel_name:
    template.append(file_name.pop(file_name.index(delname)))

file_name.extend(todel_name)

In [4]:
file_name

['C:/Users/Yee Shen/Desktop/source/interval/01.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/02.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/03.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/04.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/05.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/06.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/07.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/08.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/09.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/10.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/11.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/12.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/13.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/14.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/15.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/16.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/17.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/18.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/19.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/20.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/21.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/22.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/23.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/24.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/25.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/26.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/27.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/28.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/29.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/30.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/31.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/32.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/33.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/34.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/35.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/36.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/37.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/38.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/39.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/40.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/41.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/42.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/43.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/44.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/45.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/46.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/47.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/48.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/49.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/50.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/51.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/52.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/53.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/54.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/55.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/56.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/57.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/58.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/59.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/60.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/61.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/62.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/63.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/64.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/65.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/66.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/67.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/68.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/69.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/70.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/71.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/72.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/73.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/74.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/75.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/76.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/77.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/78.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/79.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/80.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/81.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/82.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/83.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/84.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/85.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/86.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/87.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/88.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/89.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/90.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/91.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/92.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/93.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/94.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/95.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/96.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/97.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/98.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/99.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/100.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/101.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/102.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/103.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/104.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/105.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/106.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/107.csv',
 'C:/Users/Yee Shen/Desktop/source/interval/108.csv']

In [29]:
test = pd.read_csv(file_name[0])
test.head()

   interval        time
0      39.0  2011-04-07
1      19.0  2011-05-16
2      11.0  2011-06-04
3      45.0  2011-09-25
4      24.0  2011-11-09

In [30]:
test['std_time']=pd.to_datetime(test.time,format='%Y/%m/%d')
test.head()

   interval        time   std_time
0      39.0  2011-04-07 2011-04-07
1      19.0  2011-05-16 2011-05-16
2      11.0  2011-06-04 2011-06-04
3      45.0  2011-09-25 2011-09-25
4      24.0  2011-11-09 2011-11-09

In [31]:
test['year'] = test['std_time'].map(lambda x : x.year)
test

    interval        time   std_time  year
0       39.0  2011-04-07 2011-04-07  2011
1       19.0  2011-05-16 2011-05-16  2011
2       11.0  2011-06-04 2011-06-04  2011
3       45.0  2011-09-25 2011-09-25  2011
4       24.0  2011-11-09 2011-11-09  2011
5        8.0  2011-12-03 2011-12-03  2011
6       61.0  2011-12-11 2011-12-11  2011
7       13.0  2012-02-10 2012-02-10  2012
8       19.0  2012-02-23 2012-02-23  2012
9       34.0  2012-03-13 2012-03-13  2012
10      43.0  2012-04-16 2012-04-16  2012
11       9.0  2012-05-29 2012-05-29  2012
12      13.0  2012-06-07 2012-06-07  2012
13      24.0  2012-06-20 2012-06-20  2012
14      26.0  2012-07-14 2012-07-14  2012
15      31.0  2012-08-09 2012-08-09  2012
16      32.0  2012-09-09 2012-09-09  2012
17      11.0  2012-10-11 2012-10-11  2012
18      37.0  2012-10-22 2012-10-22  2012
19      13.0  2012-11-28 2012-11-28  2012
20      15.0  2012-12-11 2012-12-11  2012
21      25.0  2012-12-26 2012-12-26  2012
22      31.0  2013-01-20 2013-01-20  2013
23       8.0  2013-02-20 2013-02-20  2013
24      15.0  2013-02-28 2013-02-28  2013
25      23.0  2013-03-15 2013-03-15  2013
26      23.0  2013-04-07 2013-04-07  2013
27      22.0  2013-04-30 2013-04-30  2013
28      20.0  2013-05-22 2013-05-22  2013
29      15.0  2013-06-11 2013-06-11  2013
..       ...         ...        ...   ...
53      20.0  2015-03-30 2015-03-30  2015
54      21.0  2015-04-19 2015-04-19  2015
55       8.0  2015-05-10 2015-05-10  2015
56      94.0  2015-05-18 2015-05-18  2015
57       9.0  2015-11-26 2015-11-26  2015
58      32.0  2015-12-05 2015-12-05  2015
59      60.0  2016-06-02 2016-06-02  2016
60      19.0  2016-08-01 2016-08-01  2016
61      82.0  2016-08-20 2016-08-20  2016
62      24.0  2016-11-10 2016-11-10  2016
63      36.0  2016-12-04 2016-12-04  2016
64      29.0  2017-01-09 2017-01-09  2017
65       9.0  2017-02-07 2017-02-07  2017
66      18.0  2017-02-16 2017-02-16  2017
67      81.0  2017-03-06 2017-03-06  2017
68      33.0  2017-05-26 2017-05-26  2017
69      14.0  2017-06-28 2017-06-28  2017
70      15.0  2017-07-12 2017-07-12  2017
71       9.0  2017-07-27 2017-07-27  2017
72      23.0  2017-08-05 2017-08-05  2017
73      20.0  2017-08-28 2017-08-28  2017
74      19.0  2017-09-17 2017-09-17  2017
75      31.0  2017-10-06 2017-10-06  2017
76      31.0  2017-11-06 2017-11-06  2017
77      13.0  2017-12-07 2017-12-07  2017
78       9.0  2017-12-20 2017-12-20  2017
79      15.0  2017-12-29 2017-12-29  2017
80       8.0  2018-01-13 2018-01-13  2018
81      41.0  2018-01-21 2018-01-21  2018
82      15.0  2018-03-03 2018-03-03  2018

[83 rows x 4 columns]

In [33]:
test['interval'][0]

39.0

In [47]:
start_year = test['year'][0]
year_list = test['year'].tolist()
interval_sum = 0
num = 0
result = pd.DataFrame({'year':[],'interval_ave':[]})

for i in range(len(year_list)):
    
    if i < len(year_list) - 1:

        if year_list[i] == start_year:
            interval_sum += test['interval'][i]
            num = num + 1

        else:
            tmp = pd.DataFrame({'year':[start_year],'interval_ave':[interval_sum/num]})
            result = pd.concat([result,tmp],axis=0)
            start_year = year_list[i]
            interval_sum = test['interval'][i]
            num = 1

    else: 
        tmp = pd.DataFrame({'year':[start_year],'interval_ave':[interval_sum/num]})
        result = pd.concat([result,tmp],axis=0)   
        
result

   interval_ave    year
0     29.571429  2011.0
0     23.000000  2012.0
0     21.066667  2013.0
0     22.538462  2014.0
0     28.222222  2015.0
0     44.200000  2016.0
0     23.062500  2017.0
0     24.500000  2018.0

In [54]:
for i in range(len(file_name)):
    
    if i == 73:
        result = pd.DataFrame({'year':[0],'interval_ave':[0]})

    else:
        test = pd.read_csv(file_name[i])
        test['std_time']=pd.to_datetime(test.time,format='%Y/%m/%d')
        test['year'] = test['std_time'].map(lambda x : x.year)
        
        start_year = test['year'][0]
        year_list = test['year'].tolist()
        interval_sum = 0
        num = 0
        result = pd.DataFrame({'year':[],'interval_ave':[]})
        
        if len(year_list) == 1:
            tmp = pd.DataFrame({'year':[start_year],'interval_ave':[test['interval'][0]]})
            result = pd.concat([result,tmp],axis=0)
        
        else:
            for j in range(len(year_list)):

                if j < len(year_list) - 1:

                    if year_list[j] == start_year:
                        interval_sum += test['interval'][j]
                        num = num + 1

                    else:
                        tmp = pd.DataFrame({'year':[start_year],'interval_ave':[interval_sum/num]})
                        result = pd.concat([result,tmp],axis=0)
                        start_year = year_list[j]
                        interval_sum = test['interval'][j]
                        num = 1

                else: 
                    tmp = pd.DataFrame({'year':[start_year],'interval_ave':[interval_sum/num]})
                    result = pd.concat([result,tmp],axis=0)
            
    result.to_csv(str(i+1)+'.csv', encoding='utf_8_sig',index=0)